.example {
  scrollbar-width: none; 
}
.text {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pain {
  transform: scale(0.98);
  transform-origin: top center;
}