<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Unifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
{% if light == "off" %}
<body style="background-color:#282b2b;">
  {% else %}
<body style="background-color:#f0f2f2;">
{% endif %}    <!--This handles the creation of the website header with links back to the homepage and the classroom only section.-->
    <div class="mb-4">
    <nav class="navbar fixed-top" style="background-color: #f3f2f5;" data-bs-theme="dark">
    <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="/canvas" role="link" style="color: #282b2b;">Canvas</a> 
    <a class="navbar-brand" href="/classroom" role="link" style="color: #282b2b;">Classroom</a>
    <div class="dropdown">
  <form method="GET" action="/">
  <select class="form-select form-select-sm custom-select" name="course" style="background-color: #f3f2f5;color: #282b2b;" aria-label="Filter By Class" onchange="this.form.submit()">
     <!-- f is used to see if a filter is already being applied so that the current filter is displayed. Previously when applied it would function but wouldn't say which filter was applied you could tell by the assignments but it wasn't optimal-->
    <!-- Iterates through c to get all the courses both canvas and classroom-->
    {% if f == "" %}
      <option selected disabled>Filter By Class</option>
        {% for course, is_canvas in c.items() %}
          <option value="{{ course }}">{{ course }}</option>
        {% endfor %}
    {% else %}
      <option selected disabled>{{f}}</option>
        {% for course, is_canvas in c.items() %}
          {% if course != f %}
            <option value="{{ course }}">{{ course }}</option>
          {% endif %}
        {% endfor %}
    {% endif %}


  </select>
</form>

  </div>
  <div class="form-check form-switch" style = "margin-left: 20px;">
    <form method="POST" action="/toggle-theme"> 
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if light == "on" %} checked {% endif %} name = "light_mode" value = "on" onchange="this.form.submit()">
      <label class="form-check-label" for="flexSwitchCheckDefault">Light Mode</label>
    </form>
  </div>
  
    </div>
    </nav>
    </div>
    <br>
    <br>

  <!-- This sections handles the displaying of the assignments -->
  <!-- it works by basically combining the elements of canvas.html and gc.html through a condititional statment-->
  <div class="row row-cols-1 row-cols-md-3 g-4 pain m_title">
  {% for assignment in course_link %}
    <div class="col">
      {% if assignment['is_canvas'] %}
        <div class="card border-danger bg-transparent h-100">
          <div class="card-body">
            <h5 class="card-title">
              <span class="badge text-bg-danger text">{{ assignment['name'] }}</span>
            </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              <span class="badge text-bg-primary">{{ assignment['course_name'] }}</span>
            </h6>
            <p>
              <span class="badge text-bg-secondary">
                {% if assignment['due_at'] != "No Due Date" %}
                  {{   assignment['due_at'][5:7] +"/" + assignment['due_at'][8:10] +"/" + assignment['due_at'][0:4]}}, {{ assignment['workflow_state'] }}
                {% else %}
                  {{ assignment['due_at'] }}, {{ assignment['workflow_state'] }}
                {% endif %}

              </span>
            </p>
            <h4>
                <a href="https://canvas.instructure.com/courses/{{ assignment['course_id'] }}/assignments/{{ assignment['id'] }}" class="btn btn-warning badge text-dark">
                  View on Canvas
                </a>
            </h4>
          </div>
        </div>
      {% else %}
        <div class="card border-success bg-transparent h-100">
          <div class="card-body">
            <h5 class="card-title">
              <span class="badge text-bg-success text">{{ assignment['title'] }}</span>
            </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              <span class="badge text-bg-primary">{{ assignment['course_name'] }}</span>
            </h6>
            {% if assignment['due_at'] %}
              <p>
                <span class="badge text-bg-secondary">
                  {{ assignment['due_at'].strftime("%m/%d/%Y") }}, {{ assignment['submission']['state'] }}
                </span>
              </p>
            {% else %}
              <p>
                <span class="badge text-bg-secondary">
                  No Due Date, {{ assignment['submission']['state'] }}
                </span>
              </p>
            {% endif %}
            <h4>
              <a href="{{ assignment['alternateLink'] }}" class="btn btn-warning badge text-dark">
              View on Classroom
              </a>
            </h4>
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>